### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import csv
import os
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
tot_play = (len(df["SN"].value_counts()))
tot_play

count_df = pd.DataFrame({"Total Number of Players":[tot_play]})
count_df

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique = df["Item Name"].unique()
num_unique = len(unique)

In [4]:
avg_price = df["Price"].mean()
sum_price = df["Price"].sum()
count_price = df["Price"].count()

In [5]:
Summary_df = pd.DataFrame({"Unique Items":[num_unique],
                            "Average Price": [avg_price],
                           "Total Purchase": [count_price],
                          "Total Revenue": [sum_price]})
Summary_df = Summary_df.round(2)
Summary_df

   Unique Items  Average Price  Total Purchase  Total Revenue
0           179           3.05             780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
gender_df = df["Gender"].value_counts()
gender_df

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [7]:
gender_count = df["Gender"].count()

In [8]:
percent_male = ((gender_df["Male"] /gender_count)*100)
percent_female = ((gender_df["Female"] /gender_count)*100)
percent_other = ((gender_df["Other / Non-Disclosed"]/gender_count)*100)

In [24]:
Gendesc_df = pd.DataFrame({"Gender":["Male","Female","Other"],
                           "Count":[gender_df["Male"], gender_df["Female"],
                            gender_df["Other / Non-Disclosed"]],
                           "Percent" :[(percent_male),
                                       percent_female,
                                       percent_other]})
Gendesc_df = Gendesc_df.round(2)
Gendesc_df

   Gender  Count  Percent
0    Male    652    83.59
1  Female    113    14.49
2   Other     15     1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame.

In [10]:
#Purchase Count
Genderp_df = df.groupby(["Gender"])["Purchase ID"].count()

In [11]:
# Average Purchase Price
Price_df = df.groupby(["Gender"])["Price"].mean()

In [12]:
# avg. purchase total per person etc. by gender
Ptotal = df["Purchase ID"].sum()
Ptotal
GPTotal_df = df.groupby(["Gender"])["Price"].sum()
GPTotal_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [26]:
Avg_Male = (GPTotal_df["Male"] / gender_df["Male"])
Avg_Female = (GPTotal_df["Female"] / gender_df["Female"])
Avg_Other = (GPTotal_df["Other / Non-Disclosed"] / gender_df["Other / Non-Disclosed"])

In [27]:
Purchase_df = pd.DataFrame({"Gender":["Male","Female","Other"],
                           "Purchase Count":[Genderp_df["Male"], \
                                             Genderp_df["Female"],
                            Genderp_df["Other / Non-Disclosed"]],
                            "Total Purchase Value":[GPTotal_df["Male"],
                                             GPTotal_df["Female"],
                            GPTotal_df["Other / Non-Disclosed"]],
                           "Average Purchase Price":[Price_df["Male"],
                                             Price_df["Female"],
                            Price_df["Other / Non-Disclosed"]],
                            "Avg Total Purchase Per person" :[(Avg_Male),
                                       Avg_Female,
                                       Avg_Other]})
Purchase_df = Purchase_df.round(2)
Purchase_df

,Gender,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase Per person
0,Male,652,1967.64,3.02,3.02
1,Female,113,361.94,3.20,3.20
2,Other,15,50.19,3.35,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
bins = [0,10,15,20,25,30,35,40,120]
group_names = ['<10','10-15','15-20','20-25','25-30','30-35','35-40', '40+']

In [29]:
age_df = df.loc[:,["SN","Age"]]
age_df["Age Ranges"] = pd.cut(age_df["Age"],bins, labels=group_names)

In [30]:
age_totals = age_df["Age Ranges"].value_counts()
age_percents = (age_totals / tot_play * 100).round(2)
age_demo = pd.DataFrame({"Percentage of Players": age_percents, "Age Group Total": age_totals})

age_demo.sort_index()

       Percentage of Players  Age Group Total
<10                     5.56               32
10-15                   9.38               54
15-20                  34.72              200
20-25                  56.42              325
25-30                  13.37               77
30-35                   9.03               52
35-40                   5.73               33
40+                     1.22                7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
df["Age Ranges"] = pd.cut(df["Age"],bins, labels=group_names)

In [37]:
# Calculations
age_counts = df.groupby(["Age Ranges"]).count()["Price"]
age_total_purchase = df.groupby(["Age Ranges"]).sum()["Price"]
age_avg = df.groupby(["Age Ranges"]).mean()["Price"]
normalized = (age_total_purchase / age_counts)
# Create df
age_data = pd.DataFrame({"Purchase Count": age_counts, 
                         "Average Purchase Price": age_avg,
                         "Total Purchase Value": age_total_purchase,
                         "Avg. Total Purchase per Person": normalized})

age_data = age_data.round(2)
age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase per Person
Age Ranges,,,,
<10,32,3.40,108.96,3.40
10-15,54,2.90,156.60,2.90
15-20,200,3.11,621.56,3.11
20-25,325,3.02,981.64,3.02
25-30,77,2.88,221.42,2.88
30-35,52,2.99,155.71,2.99
35-40,33,3.40,112.35,3.40
40+,7,3.08,21.53,3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [38]:
spend_count = df.groupby(["SN"]).count()["Price"].round(2)
spend_total = df.groupby(["SN"]).sum()["Price"]
spend_avg = df.groupby(["SN"]).mean()["Price"].round(2)

Spender_df = pd.DataFrame({"Purchase Count": spend_count,
                           "Average Purchase Price": spend_avg,
                          "Total Purchase Value": spend_total})
sort_df = Spender_df.sort_values("Total Purchase Value", ascending = False)
sort_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
most_pop = df[["Item ID","Item Name","Price"]]
pop_count = most_pop.groupby(["Item ID","Item Name"])["Price"].count()
pop_avg = most_pop.groupby(["Item ID","Item Name"])["Price"].mean().round(2)
pop_total = most_pop.groupby(["Item ID","Item Name"])["Price"].sum()

pop_data = pd.DataFrame({"Purchase Count":pop_count, 
                        "Average Purchase Price":pop_avg, 
                        "Total Purchase":pop_total})
sort_df = pop_data.sort_values("Purchase Count",ascending = False)
sort_df.head()

,,Purchase Count,Average Purchase Price,Total Purchase
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [40]:
sort_df = pop_data.sort_values("Total Purchase",ascending = False)
sort_df.head()

,,Purchase Count,Average Purchase Price,Total Purchase
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80